<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width">
  <title>Firebase App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link href="styles.css" rel="stylesheet">
</head>

<body ng-app="app">
  <div class="container" ng-controller="AccountCtrl as ctrl">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="jumbotron text-center">
        <h1>To-Do List</h1>
      </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <h2>Add an Item</h2>
      <section class="new-account-form" >
        <form ng-submit="ctrl.addAccount(ctrl.newAccount)">
          <div class="form-group">
            <label for="first-name">Details</label>
            <input type="text" class="form-control" id="first-name" required ng-model="ctrl.newAccount.firstName">
          </div>
          <div class="form-group">
           <label for="priority">Priority</label>
            <select class="form-control" id="priority" ng-model="ctrl.newAccount.priority" required> 
                <option value="" disabled selected>Indicate priority:</option>
                <option>Low</option>
                <option>Medium</option>
                <option>High</option>
           </select>
          </div>
          <div class="form-group">
             <label for="categories">Category</label>
              <select class="form-control" id="category" ng-model="ctrl.newAccount.categories" required>
                  <option value="" disabled selected>Choose a category:</option>
                  <option value="personal">Personal</option>
                  <option value="school">School</option>
                  <option value="work">Work</option>
              </select>
          </div>
          <div class="form-group">
            <label for="birthday">Due Date</label>
            <input type="date" class="form-control" id="birthday" ng-model="ctrl.newAccount.birthDate">
          </div>
          <button type="submit" class="btn btn-primary btn-block">
                    Add item
          </button>
            <h1></h1>
        </form>
      </section>
    </div>
    
   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
   <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 jumbotron">
    <p>Display by filter:</p>
    <select ng-model="ctrl.filterGories" id="category" class="form-control">
       <option value="" selected>No filter</option>
      <option value="personal">Personal</option>
      <option value="school">School</option>
      <option value="work">Work</option>
    </select>
   </div>
   
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h2>To-do Items</h2>
      <section class="account-list">
        <div class="account-list-item" ng-repeat="account in ctrl.accounts | filter: {categories: ctrl.filterGories} | filter: {isComplete:false} | orderBy: 'lastName' track by account.$id">
          <div class="list-item-row jumbotron">
           <p class="text-center">Completed:
                <input type="checkbox" ng-model="account.isComplete" ng-change="crtl.save(account)">
              </p>
            <p>Task details:</p>
            <input type="text" class="form-control" ng-model="account.firstName"  ng-class="account.priority">
            <select class="form-control" id="category" ng-model="account.categories" required>
               <option value="" disabled selected>Categories</option>
                <option value="personal">Personal</option>
                <option value="school">School</option>
                <option value="work">Work</option>
            </select>
            <select class="form-control" id="priority" ng-model="account.priority" required> 
                <option value="" disabled selected>Priority</option>
                <option ng-class="Low" class="text-success">Low</option>
                <option ng-class="Medium" class="text-warning">Medium</option>
                <option ng-class="High" class="text-danger">High</option>
            </select>
            <input type="date" class="form-control" ng-model="account.birthDate"><br>
            <p>Additional comments:</p>
            <input type="text" class="form-control" ng-model="account.email"><br>
            <div class="text-center">
              <button class="btn btn-success btn-sm" ng-click="ctrl.save(account)">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                        </button> &nbsp;
              <button class="btn btn-danger btn-sm" ng-click="ctrl.remove(account)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button> &nbsp;
            </div>
          </div>
        </div>
      </section>
    </div>
    
    
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h2>Completed Items</h2>
      <section class="account-list">
        <div class="account-list-item" ng-repeat="account in ctrl.accounts | filter: {isComplete:true} | orderBy: 'lastName' track by account.$id">
          <div class="list-item-row jumbotron">
           <p class="text-center">Completed:
                <input type="checkbox" ng-model="account.isComplete" ng-change="crtl.save(account)">
              </p>
            <p>Task details:</p>
            <input type="text" class="form-control" ng-model="account.firstName">
            <select class="form-control" id="category" ng-model="account.categories" required>
               <option value="" disabled selected>Categories</option>
                <option value="personal">Personal</option>
                <option value="school">School</option>
                <option value="work">Work</option>
            </select>
            <select class="form-control" id="priority" ng-model="account.priority" required> 
                <option value="" disabled selected>Priority</option>
                <option ng-class="Low" class="text-success">Low</option>
                <option ng-class="Medium" class="text-warning">Medium</option>
                <option ng-class="High" class="text-danger">High</option>
            </select>
            <input type="date" class="form-control" ng-model="account.birthDate"><br>
            <p>Additional comments:</p>
            <input type="text" class="form-control" ng-model="account.email"><br>
            <div class="text-center">
              <button class="btn btn-success btn-sm" ng-click="ctrl.save(account)">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                        </button> &nbsp;
              <button class="btn btn-danger btn-sm" ng-click="ctrl.remove(account)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button> &nbsp;
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- Bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/3.6.0/firebase.js"></script>
  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>
  <!-- my JS -->
  <script src="app.js"></script>
    </div>
</body>

</html>